<app-navbar></app-navbar>
<body background="../../../../assets/img/banner.jpg">
    

    <h1 class="pt-3" style="text-align: center;">Viajes</h1>
    
    
        
    
    <div class="container  mt-5 mb-5">
        <h2></h2>
    
        <div class="row m-0">
          <div *ngFor="let trip of trips;let i=index;" class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div  class="card">
              <div class="card-body">
                <span class="badge bg-danger">{{i+1}}</span>

                <h3 class="card-title">{{trip.name}}</h3>
                <p class="card-text">{{trip.endDate}}</p>
              </div>
            </div>
          </div>
    
        </div>
      </div>
