<app-navbar></app-navbar>

<body background="../../../../assets/img/banner.jpg">

    <div class="contenedor">
<div class="container pt-5 mb-4 p-3 d-flex justify-content-center" >
    <div  class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <img class="fotoPerfil" style="max-width: 30%;
            max-height: 30%;" *ngIf="!userImage" crossorigin="anonymous" src="../../../../assets/img/perfildefecto.jpg" alt="user image">
            <img class="fotoPerfil" style="max-width: 30%; max-height: 30%; border-radius: 5%;" *ngIf="userImage" crossorigin="anonymous" src="{{uri}}" alt="user image">
            <span class="mt-3">Nombre: {{name}} {{ surname}}</span>
            <span class="idd">Usuario: {{ username}}</span>
            <span class="idd">Email: {{ email }}</span>
            <span class="idd">Telefono: {{phone}}</span>


            <div class="d-flex mt-2">
                <button class="btn btn-warning m-1 " data-bs-toggle="modal" data-bs-target="#updateMyProfile" aria-controls="offcanvasExample" aria-controls="offcanvasExample">Editar perfil</button>

                
                <button class="btn btn-danger m-1 "  aria-controls="offcanvasExample" aria-controls="offcanvasExample" (click)="deleteProfile()" >Eliminar perfil</button>


                
            </div>
            <button class="btn btn-warning m-1 "  data-bs-toggle="modal" data-bs-target="#exampleModal">Subir Imagen</button>
        </div>
    </div>
</div>
</div>




<div class="modal fade" id="updateMyProfile" tabindex="-1" aria-labelledby="updateMyProfileLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateMyProfileLabel">Editar mi perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

            <form (ngSubmit)="updateProfile()" *ngIf="userGetId">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input [(ngModel)]="userGetId.name" name="name" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input [(ngModel)]="userGetId.surname" name="surname" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre de usuario</label>
                    <input [(ngModel)]="userGetId.username" name="username" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input [(ngModel)]="userGetId.email" name="email" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input [(ngModel)]="userGetId.phone" name="phone" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Descartar cambios</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">Actualizar cambios</button>
                </div>
            </form>


          
        </div>
      </div>
    </div>
  </div>

</body>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="mb-3">
            <label for="image" class="form-label">Select image</label>
            <input (change)="fileChange($event)" type="file" class="form-control" id="image">
          </div>
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="uploadImage()" type="button"  class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>