<app-navbar></app-navbar>

<body background="../../../assets/img/register.jpg">
  

    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-3">Crear cuenta</p>
  
                  <form (ngSubmit)="register()" #registerForm="ngForm" class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span *ngIf="!name.valid && name.touched" class="requiredField text-danger">
                          Parametro requerido
                        </span>
                        <input [(ngModel)]="user.name" #name="ngModel" autocomplete="on" name="name" type="text" id="form3Example1c" class="form-control" required/>
                        <label class="form-label" for="form3Example1c">Nombre</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span *ngIf="!username.valid && username.touched" class="requiredField text-danger">
                          Parametro requerido
                        </span>
                        <input [(ngModel)]="user.username" #username="ngModel" name="username" type="text" id="form1Example1c" class="form-control" required/>
                        <label class="form-label" for="form1Example1c">Username</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span *ngIf="!email.valid && email.touched" class="requiredField text-danger">
                          Parametro requerido
                        </span>
                        <input [(ngModel)]="user.email" #email="ngModel" name="email" type="email" id="form3Example3c" class="form-control" required/>
                        <label class="form-label" for="form3Example3c">Email</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span *ngIf="!password.valid && password.touched" class="requiredField text-danger">
                          Parametro requerido
                        </span>
                        <input [(ngModel)]="user.password" #password="ngModel" autocomplete="off" name="password" type="password" id="form3Example4c" class="form-control" required/>
                        <label class="form-label" for="form3Example4c">Contraseña</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <span *ngIf="!repeat.valid && repeat.touched" class="requiredField text-danger">
                          Parametro requerido
                        </span>
                        <input (keyup)="checkPassword()" #repeat="ngModel" [(ngModel)]="repeatPassword" autocomplete="off" name="repeatPassword" type="password" id="form3Example4cd" class="form-control" required/>
                        <label class="form-label" for="form3Example4cd">Repite tu contraseña   </label>

                        <svg *ngIf="repeatPassword != user.password" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill mx-1 text-danger" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                        <svg *ngIf="repeatPassword == user.password && user.password != ''" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill mx-1 text-success" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input
                        ngModel
                        name="check"
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3c"
                        required
                      />
                      <label class="form-check-label" for="form2Example3">
                        De acuerdo con los <a href="#!">Terminos de servicio</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button [disabled]="!registerForm.form.valid" *ngIf="user.password == repeatPassword" type="submit" class="btn btn-danger btn-lg">Crear cuenta</button>
                      <button [disabled]="user.password != repeatPassword" *ngIf="user.password != repeatPassword" type="button" class="btn btn-danger btn-lg">Crear cuenta</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="../../../assets/img/quetzal.jpg" style="border-radius: 25px;" class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
