@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    body{
        
        background-image: url(https://fondosmil.com/fondo/27678.jpg);
        background-size: 150%;
        background-position: center;
        padding: 5%;

        

    }