<app-navbar></app-navbar>

<body background="../../../assets/img/fondoHome.jpg" style="background-size: 100%;">
  
	<div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
				
			</div>
			<div class="col-md-8 offset-md-2 info" >
        
				<h1 class="text-center">InTravel</h1>
        		<div class="pt-3" >
  
				<h4 class="text-center">
					Bienvenido a InTravel, el hogar, tu hogar
        		</h4>
				<a *ngIf="token" routerLink="/home" class="btn btn-md text-center">Mas Información</a>
				<a *ngIf="!token" routerLink="/register" class="btn btn-md text-center">Registrarse</a>
			</div>
		</div>
	</div>
</div>
</body>