
    .pt-3{
        color: white;
    }
    
    
    body {
        
        padding-bottom: 25%;
        background-size: 100%;
    }
        h3{
        text-transform: capitalize;
        }
        .badge{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 12px 15px;
        border-radius: 0 0 0 26px;
        font-size: 14px;
        }
        .card{
        border:0px;
        height: 100%;
        }
        .card-title{
        font-weight: bold;
        }