<body>
    

<app-navbar></app-navbar>

<div class="row">
    <div *ngFor="let UsersAdmin of users"  class="card m-4" style="width: 15rem;">
        <div class="card-body">
          <h5 style="text-align: center ;" class="card-title">{{UsersAdmin.name}}</h5>
          <p style="text-align: center ;" class="card-text">{{UsersAdmin.username}}</p>
          <p style="text-align: center ;" class="card-text">{{UsersAdmin.role}}</p>

          <button class="btn btn-warning m-2 "  data-bs-toggle="modal" data-bs-target="#updateCategoryModal" aria-controls="offcanvasExample">Update</button>
          <button class="btn btn-danger" >Delete</button>
        </div>
      </div>
</div>

</body>