
<body background="../../../../assets/img/fondAdmin5.jpg">
  

<app-navbar></app-navbar>

<h1 class="pt-3" style="text-align: center;">Categoria</h1>
<div class="input-group m-4">
  <input [(ngModel)]="searchCategories" type="text" class="form-control" placeholder="Buscar Usuarios" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button style="background-color: #ffff;" class="btn btn-outline-danger me-5" type="button" id="button-addon2">Buscar</button>
</div>
<div class="text-center m-3">
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#CategoryModal">Agregar categoria</button>
</div>

<div class="container  mt-5 mb-5">
  <h2></h2>
  <div class="row m-0">
    <div *ngFor="let category of categories | searchCategories:searchCategories;let i=index;" class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="badge bg-danger">{{i+1}}</span>
          <h3 class="card-title">{{category.name}}</h3>
          <h6 class="card-subtitle mb-2 text-muted">{{category._id}}</h6>
          <p class="card-text">Descripción{{category.description}}</p>
          <button class="btn btn-warning m-2 " (click)="getCategory(category._id)" data-bs-toggle="modal" data-bs-target="#updateCategoryModal" aria-controls="offcanvasExample" aria-controls="offcanvasExample">Update</button>
          <button class="btn btn-danger" (click)="deleteCategory(category._id)">Delete</button>
        </div>
      </div>
  </div>
</div>
</div>

<!-- Add category modal -->

<div class="modal fade" id="CategoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryModalLabel">Agregar Categoria</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addCategoryForm="ngForm">
                <div class="mb-3">
                  <label for="NameInput" class="form-label">Nombre</label>
                  <input [(ngModel)]="category.name" name="name" type="email" class="form-control" id="NameInput">
                </div>
                <div class="mb-3">
                    <label for="DescriptionInput" class="form-label">Descripción</label>
                    <input [(ngModel)]="category.description" name="description" type="email" class="form-control" id="DescriptionInput">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="addCategory(addCategoryForm)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update category modal -->

<div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updatecategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updatecategoryModalLabel">Editar Categoria</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="updateCategory()" *ngIf="categoryGetId">
                <div class="mb-3">
                  <label for="NameInput" class="form-label">Nombre</label>
                  <input [(ngModel)]="categoryGetId.name" name="name" type="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="DescriptionInput" class="form-label">Descripción</label>
                    <input [(ngModel)]="categoryGetId.description" name="description" type="email" class="form-control" id="DescriptionInput">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Guardar</button>
                      </div>
              </form>
        </div>
      </div>
    </div>
  </div>

</body>