<app-navbar></app-navbar>
<div class="about-section">
    <h1>InTravel</h1>
    <p>El mejor lugar para viajar</p>
    <h3 class=" fw-bold">¿Necesitas un lugar para hospedarte?</h3>
    <p> nosotros podemos ayudarte dandote las mejores opciones para que puedas pasar el mejor tiempo en familia</p>
</div>
  
  <h2 class="pt-3 fw-bold" style="text-align:center">Nuestro equipo</h2>





<div class="offset-md-1">
  <div class="row" style="width: 95%;">





    <div class="container  mt-5 mb-5">

        <div class="row m-0">

          <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div  class="card">
                <img src="../../../../assets/img/Ale.jpg" alt="Ale" style="width:100%">
              <div class="card-body">
                <h3 class="card-title">Alejandro Yuman</h3>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollador</h6>
                <p class="card-text">ryuman-2020165@kinal.edu.gt</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div  class="card">
                <img src="../../../../assets/img/Medina.jpeg" alt="Medina" style="width:97%">
              <div class="card-body">
                <h3 class="card-title">Josue Medina</h3>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollador</h6>
                <p class="card-text">esinay-2020157@kinal.edu.gt</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div  class="card">
                <img src="../../../../assets/img/Frelo.png" alt="Fredy" style="width:81%">
              <div class="card-body">
                <h3 class="card-title">Fredy Alexander</h3>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollador</h6>
                <p class="card-text">flopez-2020056@kinal.edu.gt</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div  class="card">
                <img src="../../../../assets/img/Jefri.jpg" alt="Jefri" style="width:77%">
              <div class="card-body">
                <h3 class="card-title">Jefri Milian</h3>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollador</h6>
                <p class="card-text">jmilian-2020142@kinal.edu.gt</p>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
            <div  class="card">
                <img src="../../../../assets/img/Abdi.png" alt="Jefri" style="width:96.3%">
              <div class="card-body">
                <h3 class="card-title">Abdi Palma</h3>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollador</h6>
                <p class="card-text">apalma-2020399@kinal.edu.gt</p>
              </div>
            </div>
          </div>
    
        </div>
      </div>
  




    
  
    </div>
  </div>

  
